.header {
  background: $darkest-bg;
  color: white;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

.header__title {
  color: $light-txt;
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  // color: $light-txt;
  opacity: 0.7;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
