//colors

$darkest-bg: #005b4f;
$dark-bg: #00897b;
$mid-bg: #26a69a;
$light-bg: #e0f2f1;
$dark-txt: #005b4f;
$light-txt: #80cbc3;
$accent-txt: white;
$accent: #ef8600;

// $darkest-bg: #00251a;
// $dark-bg: #004d40;
// $mid-bg: #00897b;
// $light-bg: #009688;
// $light-txt: hsl(174, 42%, 65%);
// $accent-txt: white;
// $accent: #ef8600;
// $darkest-bg: #00363a;
// $dark-bg: #006064;
// $mid-bg: #006978;
// $light-bg: #0097a7;
// $light-txt: #ffeffe;
// $accent: #ff9100;

//spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
